{% extends "base.html" %}

{% block content %}
<section class="section bg-gray">
	<div class="container">
		<div class="row">
			{% include 'dashboard/dashboard_sidebar.html' %}
			<div class="col-lg-8">
				<!-- Edit Profile Welcome Text -->
				<div class="widget welcome-message">
					<h2>Налаштування акаунту</h2>
				</div>
				<!-- Edit Personal Info -->
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="widget personal-info">
							<h3 class="widget-header user">Введіть свої дані</h3>
							<form method='post'>
								{% csrf_token %}
								<!-- First Name -->
								<div class="form-group">
									<label>І'мя</label>
									{{ form.first_name }}
								</div>
								<!-- Last Name -->
								<div class="form-group">
									<label>Прізвище</label>
									{{ form.last_name }}
								</div>
								<div class="form-group">
									<label>Телефон</label>
									{{ form.phone }}
								</div>
								<button class="btn btn-primary" name="save_profile">Зберегти</button>
							</form>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<!-- Change Password -->
					<div class="widget change-password">
						<h3 class="widget-header user">Змінити пароль</h3>
						<form method="post">
    						{% csrf_token %}
							<!-- Current Password -->
							<div class="form-group">
								<label>Пароль</label>
								<input type="password" name="old_password" class="form-control bg-white">
							</div>
							<!-- New Password -->
							<div class="form-group">
								<label>Новий Пароль</label>
								 <input type="password" name="new_password1" class="form-control bg-white">
							</div>
							<!-- Confirm New Password -->
							<div class="form-group">
								<label>Повторіть Новий Пароль</label>
								<input type="password" name="new_password2" class="form-control bg-white">
							</div>
							<!-- Submit Button -->
							<button class="btn btn-primary" name="save_password">Змінити Пароль</button>
						</form>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
