{% extends "base.html" %}

{% block content %}
<section class="login py-5 border-top-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 align-item-center">
        <div class="border border">
          <h3 class="bg-gray p-4">Реєстрація</h3>
          <form method="post">
              {% csrf_token %}
            <fieldset class="p-4">
              <input class="form-control mb-3" type="text" placeholder="Логін*" name="{{ form.username.name }}"
                     id="{{ form.username.auto_id }}" required>
              <input class="form-control mb-3" type="password" placeholder="Пароль*" name="{{ form.password1.name }}"
                     id="{{ form.password1.auto_id }}" required>
              <input class="form-control mb-3" type="password" placeholder="Підтвердження пароля*" name="{{ form.password2.name }}"
                     id="{{ form.password2.auto_id }}" required>
              <button type="submit" class="btn btn-primary font-weight-bold mt-3">Підтвердити</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}